EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_API_URL=api_url_here
EXPO_PUBLIC_API_PROXY_URL=api_proxy_url_here
EXPO_PUBLIC_UNOFFICIAL_API_URL=unofficial_api_url_here
EXPO_PUBLIC_QR_SECRET_KEY=your_32_byte_key_here